<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Doctors
                <!-- <small>list of doctors</small> -->
                <a data-ui-sref="doctor-new" class="btn btn-primary push-20-l" type="button" ng-show="check('doctor', 'create')"><i class="si si-plus push-5-r"></i> <span>Add New</span></a>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Doctors</li>
                <li><a class="link-effect" href="">List</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content content-boxed">

    <!-- Hover Table -->
    <div class="block" id="main-block">
        <div class="block-content">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                  <thead>
                      <tr>
                          <th ng-click="orderby='id'; reverse=!reverse;"><a href="javascript:void(0)">ID</a></th>
                          <th ng-click="orderby='[profile.first_name, profile.last_name]'; reverse=!reverse;"><a href="javascript:void(0)">Name</a></th>
                          <th ng-click="orderby='profile.phone_number'; reverse=!reverse;"><a href="javascript:void(0)">Phone Number</a></th>
                          <th ng-click="orderby='profile.fax'; reverse=!reverse;"><a href="javascript:void(0)">Fax</a></th>
                          <th ng-click="orderby='profile.email'; reverse=!reverse;"><a href="javascript:void(0)">Email</a></th>
                          <th ng-click="orderby='profile.active_since'; reverse=!reverse;"><a href="javascript:void(0)">Active Since</a></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="doctor in doctors | orderBy:orderby:reverse" ui-sref="doctor-view({doctorId: doctor.id})">  <!-- | limitTo:page_size -->
                          <td>{{ doctor.id }}</td>
                          <td>{{ doctor.profile.first_name }} {{ doctor.profile.last_name }}</td>
                          <td>{{ doctor.profile.phone_number }}</td>
                          <td>{{ doctor.profile.fax }}</td>
                          <td><a href="mailto:{{ doctor.profile.email }}">{{ doctor.profile.email }}</a></td>
                          <td>{{ doctor.profile.active_since | date:'MM/dd/yyyy' }}</td>
                      </tr>
                  </tbody>
                </table>
                <p ng-show="doctors.length == 0" class="text-danger">No doctors found.</p>
                <form class="form-horizontal">
                    <div class="form-group col-xs-4 col-sm-2">
                        <select class="form-control pagination" id="page_size" ng-options="page_size for page_size in page_sizes" ng-model="page_size" ng-change="loadData()">
                        </select>
                    </div>
                    <div class="col-xs-8 col-sm-8 text-center">
                        <ul class="pagination" ng-show="doctors.length > 0">
                            <li class="paginate_button previous" ng-class="{ 'disabled' : current_page <= 1}">
                                <a href="javascript:void(0)" ng-click="prevPage()"><i class="fa fa-angle-left"></i></a>
                            </li>
                            <li class="paginate_button" >
                                <select class="form-control" id="current_page" ng-options="page_num for page_num in page_numbers" ng-model="current_page" ng-change="loadData()">
                                </select>
                            </li>
                            <li class="paginate_button next" ng-class="{ 'disabled' : current_page * page_size >= page_total}">
                                <a href="javascript:void(0)" ng-click="nextPage()"><i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END Hover Table -->

</div>
<!-- END Page Content -->
