<style>
  header {
    display: none !important;
  }
</style>
<!-- Login Content -->
<div class="bg-white pulldown login_container">
    <div class="content content-boxed overflow-hidden" ng-init="initLogin()">
        <div class="block" id="main-block">
            <div class="block-content tab-content">

                <div class="push-50 animated fadeIn">

                    <!-- Login Form -->
                    <form name="loginForm" class="main-form js-validation-login form-horizontal push-30-t" ng-submit="submitLoginForm(loginForm.$valid)" novalidate>
                        <div class="text-center push-50">
                            <img src="assets/img/logo.png">
                            <p class="text-muted push-15-t">Login to AdvancedCare Dashboard</p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && (!loginForm.email.$pristine || loginSubmitted)}">
                            <div class="col-xs-12">
                                <div class="form-material form-material-primary floating open">
                                    <input class="form-control" type="text" name="email" id="email" ng-model="loginuser.login" required>
                                    <label for="email">Email</label>
                                </div>
                                <p ng-show="loginForm.email.$error.required && (!loginForm.email.$pristine || loginSubmitted)" class="help-block">Email is required.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && (!loginForm.password.$pristine || loginSubmitted) }">
                            <div class="col-xs-12">
                                <div class="form-material form-material-primary floating open">
                                    <input class="form-control" type="password" name="password" id="password" ng-model="loginuser.password" required>
                                    <label for="password">Password</label>
                                    <p ng-show="loginForm.password.$error.required && (!loginForm.password.$pristine || loginSubmitted)" class="help-block">Password is required.</p>
                                  </div>
                            </div>
                        </div>
                        <div class="form-group has-success" ng-show="chPasswordSuccess">
                            <div class="col-xs-12">
                                <p class="help-block">Your password has been updated successfully, please login.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : loginFailed }">
                            <div class="col-xs-12">
                                <p class="text-danger" ng-show="loginFailed && error_m == 'e_approval_waiting'">Your account is not approved by administrator, please try again later.</p>
                                <p class="text-danger" ng-show="loginFailed && error_m == 'e_invalid_credentials'">Sorry, email or password is not correct.</p>
                                <p class="text-danger" ng-show="loginFailed && error_m != 'e_approval_waiting' && error_m != 'e_invalid_credentials'">Login failed,  {{ error_m | etranslate }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="font-s13 text-center push-10-t">
                                    <a data-ui-sref="register" class="link-s text-success"><u>Create an Account</u></a>
                                </div>
                            </div>  
                        </div>                      
                        <div>
                            <div class="form-group push-30-t">
                                <div class="col-xs-12">
                                    <button class="btn btn-sm btn-block btn-primary btn-s btn-large btn-block" type="submit">Log in</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="font-s13 text-center push-5-t">
                                    <a data-ui-sref="forgot" class="link-s">Forgot Password?</a>
                                </div>
                            </div>
                        </div>                        
                    </form>
                    <!-- END Login Form -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Login Content -->

<!-- Login Footer -->
<div class="pulldown push-30-t text-center animated fadeInUp">
    <small class="text-muted"><span class="js-year-copy"></span> &copy; AdvancedCare 1.0</small>
</div>
<!-- END Login Footer -->
