<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Rx Orders
                <!-- <small>list of delvieries</small> -->
                <a data-ui-sref="order-new" class="btn btn-primary push-20-l" type="button" ng-show="check('order', 'create')"><i class="si si-plus push-5-r"></i> <span>Add New</span></a>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Rx Orders</li>
                <li><a class="link-effect" href="">List</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content content-boxed">

    <!-- Hover Table -->
    <div class="block" id="main-block">
        <div class="block-content">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                  <thead>
                      <tr>
                          <th ng-click="orderby='id'; reverse=!reverse;"><a href="javascript:void(0)">ID</a></th>
                          <th ng-click="orderby='[patient.first_name, patient.last_name]'; reverse=!reverse;"><a href="javascript:void(0)">Patient</a></th>
                          <th ng-click="orderby='[doctor.first_name, doctor.last_name]'; reverse=!reverse;"><a href="javascript:void(0)">Doctor</a></th>
                          <th ng-click="orderby='pharmacy.name'; reverse=!reverse;"><a href="javascript:void(0)">Pharmacy</a></th>
                          <th ng-click="orderby='preferred_via.name'; reverse=!reverse;"><a href="javascript:void(0)">Preferred Method</a></th>
                          <th ng-click="orderby='created_at'; reverse=!reverse;"><a href="javascript:void(0)">Time Received</a></th>
                          <th ng-click="orderby='status'; reverse=!reverse;"><a href="javascript:void(0)">Status</a></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="order in orders | orderBy:orderby:reverse" ui-sref="order-detail({orderId: order.id})">  <!-- | limitTo:page_size -->
                          <td>{{ order.id }}</td>
                          <td>{{ order.patient.first_name }} {{ order.patient.last_name }}</td>
                          <td>{{ order.doctor.first_name }} {{ order.doctor.last_name }}</td>
                          <td>{{ order.pharmacy.name }}</td>
                          <td>{{ order.preferred_via | capitalize }}</td>
                          <td>{{ order.created_at | date: 'MM/dd/yy HH:mm' }}</td>
                          <td>
                            <span class="label" ng-class="{
                                'label-default': order.status == 'draft',
                                'label-primary': order.status == 'processing' || order.status == 'sent_to_pharmacy',
                                'label-success': order.status == 'delivered' || order.status == 'done',
                                'label-info': order.status == 'in_delivery',
                                'label-warning' : order.status == 'waiting_for_delivery' || order.status == 'waiting_for_pickup',
                                'label-danger': order.status == 'canceled_by_pharmacy' || order.status == 'delayed' }">
                              {{ is_pharmacist ? order_status_labels_pharmacist[order.status] : order_status_labels[order.status] }}
                            </span>
                          </td>
                      </tr>
                  </tbody>
                </table>
                <p ng-show="orders.length == 0" class="text-danger">No orders found.</p>
                <form class="form-horizontal">
                    <div class="form-group col-xs-4 col-sm-2" ng-show="orders.length > 0">
                        <select class="form-control pagination" id="page_size" ng-options="page_size for page_size in page_sizes" ng-model="page_size" ng-change="loadList()">
                        </select>
                    </div>
                    <div class="col-xs-8 col-sm-8 text-center">
                        <ul class="pagination" ng-show="orders.length > 0">
                            <li class="paginate_button previous" ng-class="{ 'disabled' : current_page <= 1}">
                                <a href="javascript:void(0)" ng-click="prevPage()"><i class="fa fa-angle-left"></i></a>
                            </li>
                            <li class="paginate_button" >
                                <select class="form-control" id="current_page" ng-options="page_num for page_num in page_numbers" ng-model="current_page" ng-change="loadList()">
                                </select>
                            </li>
                            <li class="paginate_button next" ng-class="{ 'disabled' : current_page * page_size >= page_total}">
                                <a href="javascript:void(0)" ng-click="nextPage()"><i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END Hover Table -->

</div>
<!-- END Page Content -->
