<!-- Page Header -->
<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 class="page-heading">
        Facilities
        <!-- <small>list of patients</small> -->
        <a data-ui-sref="facility-new" class="btn btn-primary push-20-l" type="button"><i class="si si-plus push-5-r" ng-show="check('facility', 'create')"></i> <span>Add New</span></a>
      </h1>
    </div>
    <div class="col-sm-5 text-right hidden-xs">
      <ol class="breadcrumb push-10-t">
        <li>Facilities</li>
        <li><a class="link-effect" href="">List</a></li>
      </ol>
    </div>
  </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content content-boxed">

  <!-- Hover Table -->
  <div class="block" id="main-block">
    <div class="block-content">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th ng-click="orderby='id'; reverse=!reverse;"><a href="javascript:void(0)">ID</a></th>
              <th ng-click="orderby='name'; reverse=!reverse;"><a href="javascript:void(0)">Name</a></th>
              <th ng-click="orderby='address.description'; reverse=!reverse;"><a href="javascript:void(0)">Address</a></th>
              <th ng-click="orderby='active_since'; reverse=!reverse;"><a href="javascript:void(0)">Active Since</a></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="facility in facilities | orderBy:orderby:reverse" ui-sref="facility-view({facilityId: facility.id})" class="clickable-item">
              <td>{{ facility.id }}</td>
              <td>{{ facility.name }}</td>
              <td>{{ facility.address.description }}</td>
              <td>{{ facility.active_since | date:'MM/dd/yyyy' }}</td>
            </tr>
          </tbody>
        </table>
        <p ng-show="facilities.length == 0" class="text-danger">No facilities found.</p>
        <form class="form-horizontal">
          <div class="form-group col-xs-4 col-sm-2">
            <select class="form-control pagination" id="page_size" ng-options="page_size for page_size in page_sizes" ng-model="page_size" ng-change="loadData()">
                        </select>
          </div>
          <div class="col-xs-8 col-sm-8 text-center">
            <ul class="pagination" ng-show="facilities.length > 0">
              <li class="paginate_button previous" ng-class="{ 'disabled' : current_page <= 1}">
                <a href="javascript:void(0)" ng-click="prevPage()"><i class="fa fa-angle-left"></i></a>
              </li>
              <li class="paginate_button">
                <select class="form-control" id="current_page" ng-options="page_num for page_num in page_numbers" ng-model="current_page" ng-change="loadData()">
                                </select>
              </li>
              <li class="paginate_button next" ng-class="{ 'disabled' : current_page * page_size >= page_total}">
                <a href="javascript:void(0)" ng-click="nextPage()"><i class="fa fa-angle-right"></i></a>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- END Hover Table -->

</div>
<!-- END Page Content -->