<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                New Smartpen
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Smartpens</li>
                <li><a class="link-effect" href="">Add New</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content content-boxed">

  <!-- Main Content -->
  <form name="smartpenForm" ng-submit="save(smartpenForm.$valid)" novalidate>
      <div class="block">
          <div class="block-content tab-content">
              <!-- General Tab -->
              <div class="tab-pane fade in active" id="tab-profile-general">
                  <div class="row items-push">
                      <div class="col-sm-6 col-sm-offset-3 form-horizontal">
                          <div class="form-group push-25-t" >
                              <div class="col-xs-12">
                                  <h3 class="text-center">Smartpen details</h3>
                              </div>
                          </div>
                          <div class="form-group" ng-class="{ 'has-error' : smartpenForm.name.$invalid && (!smartpenForm.name.$pristine || smartpenForm.$submitted)}">
                              <div class="col-xs-12">
                                  <label for="name">Nursing Station</label>
                                  <input class="form-control input-lg" type="text" id="name" name="name" ng-model="smartpen.name" ng-pattern= "/^[a-z0-9\s]+$/i" placeholder="Enter Nursing Station" required>
                                  <p ng-show="smartpenForm.name.$error.required && (!smartpenForm.name.$pristine || smartpenForm.$submitted)" class="help-block">Nursing Station is required.</p>
                                  <p ng-show="!smartpenForm.name.$valid && !smartpenForm.name.$error.required && (!smartpenForm.name.$pristine || smartpenForm.$submitted)" class="help-block">Nursing Station can only contain alphanumeric characters.</p>
                              </div>
                          </div>
                          <div class="form-group" ng-class="{ 'has-error' : smartpenForm.serial_number.$invalid && (!smartpenForm.serial_number.$pristine || smartpenForm.$submitted)}">
                              <div class="col-xs-12">
                                  <label for="serial_number">Serial Number</label>
                                  <input class="form-control input-lg" type="text" id="serial_number" name="serial_number" ng-model="smartpen.serial_number" ng-pattern= "/^[0-9]+$/i" placeholder="Enter Serial Number" maxlength="20" required>
                                  <p ng-show="smartpenForm.serial_number.$error.required && (!smartpenForm.serial_number.$pristine || smartpenForm.$submitted)" class="help-block">Serial Number is required.</p>
                                  <p ng-show="!smartpenForm.serial_number.$valid && !smartpenForm.serial_number.$error.required && (!smartpenForm.serial_number.$pristine || smartpenForm.$submitted)" class="help-block">Serial Number can only contain number.</p>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-xs-12">
                                  <label for="facility_key">Facility Name</label>
                                  <input class="form-control input-lg" type="text" id="facility_key" name="facility_key" ng-model="facility_key" ng-change="searchFacility()" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" placeholder="Search facility here" autocomplete="off">
                                  <select class="form-control" ng-show="facility_key && !smartpenForm.facility_key.$pristine" id="facility" name="facility" ng-options="facility as facility.name + ' (' + facility.address.description + ')' for facility in facilities_list" size="6" ng-model="smartpen.facility" ng-change="facilityChosen(smartpenForm.facility_key)">
                                  </select>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- END General Tab -->

          </div>
          <div class="block-content block-content-full bg-gray-lighter">
            <div class="row items-push">
              <div class="col-sm-6 col-sm-offset-3">
                <p ng-show="saveFailed"class="text-danger">Save failed. {{ error_m | etranslate }}</p>
                <p ng-show="saveSuccess" class="text-success">Smartpen details have been saved.</p>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-xs-12">
                <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-save push-5-r"></i> Save Changes</button>
                <button class="btn btn-sm btn-warning" type="button" ui-sref="smartpens"><i class="fa fa-undo push-5-r"></i> Cancel</button>
              </div>
            </div>
          </div>
      </div>
  </form>
  <!-- END Main Content -->

</div>
<!-- END Page Content -->
