<!-- Page Content -->
<div class="content content-boxed" ng-init="loadData(); mode='view';">

  <!-- Header Tiles -->
  <div class="row">
      <div class="col-sm-6">
          <a class="block block-link-hover3 text-center" ui-sref="driver-edit({driverId: driverId})" ng-show="check('driver', 'edit')">
              <div class="block-content block-content-full">
                  <div class="h1 font-w700"><i class="fa fa-pencil"></i></div>
              </div>
              <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">Edit Driver</div>
          </a>
      </div>      
  </div>
  <!-- END Header Tiles -->

  <!-- User Header -->
  <div class="block">
      <!-- Basic Info -->
      <div class="bg-image" style="background-image: url('assets/img/photos/photo1@2x.jpg');">
          <div class="block-content bg-primary-op text-center overflow-hidden">
              <div class="buttons-block">
                <a href="javascript:void(0)" class="btn btn-sm btn-danger pull-right" ng-click="deleteDriver()" ng-show="check('person', 'delete')"><i class="fa fa-times"></i> Delete Profile</a>
              </div>
              <div class="push-30-t push animated fadeInDown">
                  <img class="img-avatar img-avatar96 img-avatar-thumb" src="assets/img/avatars/user_icon.png" alt="">
              </div>
              <div class="push-30 animated fadeInUp">
                  <h2 class="h4 font-w600 text-white push-5">{{ driver.profile.first_name }} {{ driver.profile.last_name }}</h2>
                  <h3 class="h5 text-white-op">Driver ID: {{ driver.id }}</h3>
              </div>
          </div>
      </div>
      
      <!-- END Basic Info -->
  </div>
  <!-- END User Header -->


  <!-- Main Content -->
  <div class="block" id="main-block">
      <div class="block-content">
          <div class="row">
              <div class="col-sm-6">
                  <!-- General Info -->
                  <div class="block block-bordered">
                      <div class="block-header">
                          <h3 class="block-title">General Information</h3>
                      </div>
                      <div class="block-content block-content-full">
                          <div class="h4 push-5">{{ driver.profile.first_name }} {{ driver.profile.last_name }}</div>
                          <!-- <i class="si push-5-r" ng-class="{'si-user': driver.profile.gender == 'M', 'si-user-female': driver.profile.gender == 'F'}"></i> {{ driver.profile.gender == 'M' ? 'Male' : 'Female' }} <br> -->
                      </div>
                  </div>
                  <!-- END General Info -->
              </div>
              <div class="col-sm-6">
                  <!-- Contact Info -->
                  <div class="block block-bordered">
                      <div class="block-header">
                          <h3 class="block-title">Contact Information</h3>
                      </div>
                      <div class="block-content block-content-full">
                          <address>
                              <i class="fa fa-phone push-5-r"></i><a href="tel:{{ driver.profile.phone_number }}">{{ driver.profile.phone_number }}</a><br>
                              <i class="fa fa-envelope-o push-5-r"></i> {{ driver.profile.email }}</a>
                          </address>
                      </div>
                  </div>
                  <!-- END Contact Info -->
              </div>
          </div>
      </div>
  </div>
  <!-- END Main Content -->

</div>
<!-- END Page Content -->
